body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    width: 100%;
    position:fixed;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    align-items: center;
}

.toevoegen {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

header a {
    color: black;
}
header a:hover {
    color: rgba(137, 43, 226, 0.636);
}

#films_muziek {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 75vh;
    gap: 30px;

}

#films_muziek a {
    color: black;

}

#films_muziek a:hover {
    color: blueviolet;
}

main {
    padding-top: 80px;
}

.soortTitel {
    text-align: center;
}
.modern-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background: white;
    /* border-radius: 12px; */
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(137, 43, 226, 0.085);
    margin-top: 40px;
}

.modern-table thead {
    background: #000715;
    color: white;
}

.modern-table th,
.modern-table td {
    padding: 15px 20px;
    text-align: left;
}

.modern-table tbody tr {
    border-bottom: 1px solid rgba(137, 43, 226, 0.081);
    transition: background 0.2s;
}

.modern-table tbody tr:hover {
    background: rgba(137, 43, 226, 0.12);
}

.modern-table tbody tr:last-child {
    border-bottom: none;
}

.mediaIndex {
    color: blueviolet;
}

.mediaIndex:hover {
    color:rgba(0, 0, 255, 0.558)
}

video {
    margin-top: 100px;
}

audio {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%
}

#toevoegen_form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}


form {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Label */
label {
    font-weight: bold;
    margin-bottom: -8px;
}

select {
        border: 1px solid #ccc;
}

select:hover {
    border: 1px solid #b1a7a7;
}

select,
input[type="file"] {
    padding: 10px;
    border-radius: 6px;
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
    
}
input[type="file"] {
    transition: 0.2s ease-in;
    border: 2px dashed #ccc;
}

input[type="file"]:hover {
    border: 2px dashed #000715;
}
input[type="file"]::file-selector-button {
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: ease-in-out 0.2s;
}

input[type="file"]::file-selector-button:hover {
    background-color: rgb(108, 34, 177);
}

input[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: rgb(63, 63, 63);
}